body {
    background-image: url("assets/grey-white-gradient.png");
    background-repeat: repeat-x;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: groove;
    border-width: 5px;
} 

table {

}

#bottom , #myImage{
	background:#cccccc;
	border: 2px;
	border-radius: 25px;
	box-shadow: 10px 10px 5px #888888;
}

#projectLogo{
	border: 2px solid;
	border-radius: 25px;
	box-shadow: 10px 10px 5px #888888;
}

.button{
	box-shadow: 10px 10px 5px #888888;
	background: #730000;
}

.top-bar
{
	border: 2px;
	border-radius: 25px;
	background:#333333;
}

.top-bar-section ul li> a { 
	background: #333333 !important;
}

.top-bar-section ul li.active > a { 
	background: #ffffff !important;
	color: black !important;
	opacity: .5;
}